<header role="banner">
  <div id="navBar" class="navigation">
    <a href="/"> Home</a>

    {{#menu}} {{#linkType}}
    <a href="/{{{link.location}}}" target="{{{target}}}"> {{displayText}}</a>
    {{/linkType}} {{^linkType}}
    <a href="{{{href}}}" target="{{{target}}}"> {{displayText}}</a>
    {{/linkType}} {{/menu}}
    <a href="javascript:void(0);" class="icon" onclick="myFunction()"> &equiv; </a>
  </div>
</header>
<script>
  function myFunction() {
    var x = document.getElementById('navBar')
    if (x.className === 'navigation') {
      x.className += ' responsive'
    } else {
      x.className = 'navigation'
    }
  }
</script>
