.list {
  .orderedList {
    list-style-type: none;
    padding: 0;

    .orderedList-item {
      background-color: #f6f6f6;
      margin: 16px 0;

      .orderedList-item-container {
        padding: 24px 16px;
        border-top: 4px solid #b80000;
      }
    }
  }
}
