.global-header {
  display: block;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f6f6f6;
  box-shadow: 0 0.0625rem 0 rgba(0, 0, 0, 0.15);
  z-index: 50;

  .global-header-container {
    width: 1280px;
    padding: 1em 16px;
  }
}
