.promoCardContainer {
  padding: 1em 0;
}

.promoCardSectionLink {
  line-height: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.promoCardDivider {
  flex: 1;
  margin: 1em;
  height: 1px;
  background-color: black;
}

.promoCardCardGrid {
  display: grid;
  gap: 1em;
}

.promoCardCardGrid--standard {
  grid-template-columns: repeat(var(--columns), 1fr);
}

.promoCardCardGrid--mosaic {
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: repeat(auto, 1fr); */

  .cardContainer:nth-child(1 of .cardContainer) {
    grid-column: span 4;
    grid-row: span 2;
  }

  .cardContainer:nth-child(2 of .cardContainer) {
    grid-column: span 2;
  }

  .cardContainer:nth-child(2 of .cardContainer),
  .cardContainer:nth-child(3 of .cardContainer) {
    grid-column: span 2;
  }

  .cardContainer:nth-child(4 of .cardContainer),
  .cardContainer:nth-child(5 of .cardContainer) {
    grid-column: span 3;
  }
}

@media (max-width: 550px) {
  .promoCardCardGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 400px) {
  .promoCardCardGrid {
    grid-template-columns: 1fr;
  }
}
