.promoCardContainer {
  padding: 1em 0;
}

.promoCardSectionLink {
  line-height: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.promoCardDivider {
  flex: 1;
  margin: 1em;
  height: 1px;
  background-color: black;
}

.promoCardLink {
  font-size: 21px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

.promoCardSectionLink:hover {
  text-decoration: underline;
}

.promoCardLink:hover .promoCardTitle {
  text-decoration: underline;
}

.promoCardDescription p {
  text-decoration: none;
}

.promoCardCardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5em 1em;
}

@media (max-width: 550px) {
  .promoCardCardGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 400px) {
  .promoCardCardGrid {
    grid-template-columns: 1fr;
  }
}

.promoCard {
  overflow: hidden;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
}

.promoCard--standard {
  border-radius: 10px;
}

.promoCard--standard {
  border-radius: 10px;
}

.promoCard--tall {
  border-radius: 0px;
}

.promoCardCopy {
  padding-top: 1em;
}

.promoCardCopy--tall {
  padding: 1em;
  min-height: 200px;
  box-sizing: border-box;
}

.promoCardDescription {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.promoCardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promoCard-blurred-img {
  /* background-repeat: no-repeat;
  background-size: cover;
  width: fit-content;
  height: fit-content; */
  width: auto;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promoCard-blurred-img::before {
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: pulse 2.5s infinite;
  background-color: var(--text-color);
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

.promoCard-blurred-img.loaded::before {
  animation: none;
  content: none;
}

.promoCard-blurred-img img {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.promoCard-blurred-img.loaded img {
  opacity: 1;
}
