<figure data-testid="imageComponent" class="imageComponentContainer">
  {{#image}}
  <div
    class="blurred-img"
    id="image{{{id}}}"
    style="
        background-image: url({{blurUpThumb}});
      "
  >
    <img
      srcset="{{image.responsiveImage.webpSrcSet}}"
      src="{{image.responsiveImage.src}}"
      loading="lazy"
      alt="{{image.responsiveImage.alt}}"
      class="imageComponentImage"
      width="{{width}}"
      height="{{height}}"
    />
  </div>
  {{/image}} {{#image.responsiveImage.title}}
  <figcaption data-testid="componentImageCaption" class="componentImageCaption">
    {{image.responsiveImage.title}}
  </figcaption>
  {{/image.responsiveImage.title}}
</figure>

<script type="text/javascript">
  const blurredImageDiv{{id}} = document.getElementById('image{{{id}}}')
  const img = blurredImageDiv{{id}}.querySelector('img')
  function loaded{{id}}() {
    blurredImageDiv{{id}}.classList.add('loaded')
  }

  if (img{{id}}.complete) {
    loaded{{id}}()
  } else {
    img{{id}}.addEventListener('load', loaded{{id}})
  }
</script>
