.accordion__details {
  overflow: hidden;
  margin-top: 0.125em;
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #333333;
  border-radius: 3px;
}

.accordion__summary {
  display: block;
  cursor: pointer;
  position: relative;
  padding: 0.5em 0.5em 0.5em 0.7em;
  background: #ededed;
  color: #2b2b2b;
  border-radius: 3px 3px 0 0;
}

.accordion__details:not([open]) .accordion_summary:hover,
.accordion__details:not([open]) .accordion_summary:focus {
  background: #f6f6f6;
  color: #454545;
}

.accordion__details[open] .accordion_summary {
  border: 1px solid #003eff;
  background: #007fff;
  color: #ffffff;
}

.accordion__details .accordion__main {
  padding: 1em 2.2em;
}

.accordion__controls {
  display: flex;
  justify-content: flex-end;
}
