.global-header-temp {
  display: block;
  position: relative;
  width: 100%;
  color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f6f6f6;

  .global-header-temp-container {
    width: 1280px;
    padding: 1em 16px;

    a {
      text-decoration: none;
      color: inherit;
      font-weight: 900;
    }
  }
}
