.headerComponent {
  padding: 1em 0;
  border-bottom: 1px solid black;

  .imageComponentImage {
    height: revert-layer;
  }

  .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding-bottom: 2em;

    img {
      max-width: 100%;
    }
  }
}
