.billboard {
  /* background-color: teal; */
  /* color: white; */
  margin: 1em 0;
  box-sizing: border-box;
  height: 405px;
  min-height: 405px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

.billboardLink {
  text-decoration: none;
}

.billboard:hover {
  cursor: pointer;
}

.billboard:hover h1 {
  text-decoration: underline;
}

.billboardContent {
  display: flex;
  align-items: center;
  flex: 1;
}

@media (max-width: 770px) {
  .billboardContent {
    flex-direction: column-reverse;
  }
}

.billboardText {
  flex: 1;
  padding: 4em;
}

.billboardImageContainer {
  position: relative;
  flex: 1;
  height: -webkit-fill-available;
}

.billboardImage {
  height: 100%;
  min-height: 405px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 720px;
  -webkit-mask-image: linear-gradient(
    270deg,
    rgba(0, 0, 0) 0%,
    rgba(0, 0, 0) 54%,
    rgba(255, 255, 255, 0.98) 56%,
    rgba(255, 255, 255, 0) 100%
  );
  mask-image: linear-gradient(
    270deg,
    rgba(0, 0, 0) 0%,
    rgba(0, 0, 0) 54%,
    rgba(255, 255, 255, 0.98) 56%,
    rgba(255, 255, 255, 0) 100%
  );
  mask-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
}
