.search-panel {
  --s: 34px; /* control the size*/
  --c1: #ecbe13;
  --c2: #309292;

  --_g: radial-gradient(calc(var(--s) / 2), var(--c1) 97%, #0000);
  background: var(--_g), var(--_g) calc(2 * var(--s)) calc(2 * var(--s)),
    repeating-conic-gradient(from 45deg, #0000 0 25%, var(--c2) 0 50%) calc(-0.707 * var(--s))
      calc(-0.707 * var(--s)),
    repeating-linear-gradient(
      135deg,
      var(--c1) calc(var(--s) / -2) calc(var(--s) / 2),
      var(--c2) 0 calc(2.328 * var(--s))
    );
  background-size: calc(4 * var(--s)) calc(4 * var(--s));

  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  overflow: auto;
  border-top-width: 1px;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 229 229 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-height: calc(100vh - 80px);
  transform: translateY(calc(-100% - 8px));
  transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);

  .search-panel__input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1280px;
    margin: 20px auto;
    max-width: calc(100% - 20px);
    padding: 10px;

    .search-panel__input {
      margin: 0.8em auto;
      font-size: 17.5px;
      padding: 0.7em;
      /* font-family: ReithSans, BBC Reith Sans, Helvetica, Ubuntu, Calibri, DejaVu Sans, source-sans-pro, Arial, freesans, sans-serif; */
      height: 100%;
      padding: 1em;
      /* width: 100%; */
      border: solid lightgray 2px;
      border-radius: 5px;
      box-sizing: border-box;
    }
  }
}

.search-panel--open {
  pointer-events: auto;
  transform: translateY(0);
}
