<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="title" content="{{project.seo.title}}" />
    <meta name="description" content="{{project.seo.description}}" />
    <meta name="image" content="{{project.seo.image.responsiveImage.src}}" />

    <meta property="og:title" content="{{project.seo.title}}" />
    <meta property="og:description" content="{{project.seo.description}}" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://adamhorne.co.uk/{{project.location}}/" />
    <meta property="og:image" content="{{project.seo.image.responsiveImage.src}}" />
    <meta property="og:image:width" content="{{project.seo.image.responsiveImage.width}}" />
    <meta property="og:image:height" content="{{project.seo.image.responsiveImage.height}}" />

    <meta name="twitter:title" content="{{project.seo.title}}" />
    <meta name="twitter:description" content="{{project.seo.description}}" />
    <meta name="twitter:image" content="{{project.seo.image.responsiveImage.src}}" />
    <meta property="twitter:image:width" content="{{project.seo.image.responsiveImage.width}}" />
    <meta property="twitter:image:height" content="{{project.seo.image.responsiveImage.height}}" />

    {{#noIndex}}
    <meta name="robots" content="noindex, nofollow" />
    {{/noIndex}}

    <!-- Global navigation -->
    <link
      rel="preload"
      href="https://{{^isLive}}stage.{{/isLive}}adamhorne.co.uk/internal/assets/index.js"
      as="script"
    />
    <script
      type="module"
      src="https://{{^isLive}}stage.{{/isLive}}adamhorne.co.uk/internal/assets/index.js"
    ></script>
    <script
      nomodule
      src="https://{{^isLive}}stage.{{/isLive}}adamhorne.co.uk/internal/assets/index.js"
    ></script>
    <!-- Global navigation -->

    <link rel="stylesheet" href="/{{#isPreview}}preview/{{/isPreview}}index.css" />
    <title>{{project.title}}</title>
  </head>
  <body>
    <div id="global-navigation"></div>
    <div class="container">
      {{{renderedNavbar}}} {{#renderedHeader}}
      <div>{{{renderedHeader}}}</div>
      {{/renderedHeader}}

      <div class="content">
        {{#renderedSidebarLeft}}
        <aside>{{{renderedSidebarLeft}}}</aside>
        {{/renderedSidebarLeft}}

        <main class="main-content">{{{renderedComponents}}}</main>

        {{#renderedSidebarRight}}
        <aside>{{{renderedSidebarRight}}}</aside>
        {{/renderedSidebarRight}}
      </div>
    </div>
    <div id="global-footer"></div>
  </body>
</html>
