body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1140px;
  margin: 20px auto;
  max-width: calc(100% - 20px);
  padding: 10px;
}

.content {
  display: flex;
  gap: 1em;
}

@media screen and (max-width: 725px) {
  .content {
    flex-direction: column;
  }
}

.content > section {
  flex-grow: 1;
}
