.sidebar {
  width: 300px;
}

.sidebar #textComponent {
  background-color: #f6f6f6;
  padding: 24px 16px;
}

.sidebar #textComponent:first-child {
  margin-top: 0px;
}

.sidebar #textComponent li {
  padding: 8px 0;
}

.sidebar .promoCardCardGrid {
  grid-template-columns: 1fr;
}

.sidebar .promoCardDivider {
  display: none;
}

@media screen and (max-width: 725px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar.sticky {
  position: sticky;
  top: 20px;
}

.sidebarContent {
  padding-top: 16px;
}

.sidebarTitle {
  margin-top: 0;
  padding-top: 0;
}
