.sidebar {
  width: 300px;
}

.sidebar #textComponent {
  background-color: #f6f6f6;
  border-top: darkorange solid 4px;
  padding: 16px;
}

@media screen and (max-width: 725px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar.sticky {
  position: sticky;
  top: 20px;
}

.sidebarContent {
  padding-top: 16px;
}

.sidebarTitle {
  margin-top: 0;
  padding-top: 0;
}
